/* maps */

#map {
	cursor: wait;
}
#map *, #webgl footer {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#map {
	margin: -20px;
	position: relative;
}
#map canvas {
	width: calc(100vw - 241px);
	height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
}
#map #ajax {
	display: none;
}
#map #ajax.debug {
	display: block;
}

/* map controls */

#map .control {
	position: absolute;
	z-index: 1;
	padding: 20px;
	border: solid 1px #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px #666;
	cursor: default;
	display: none;
}
#map .control#primary {
	background: rgba(100, 100, 100, 0.9);
	left: 20px; top: 20px;
	color: #eee;
}
#map .control h4 {
	font-weight: bold;
	float: left;
	font-size: 1.75em;
}
#map .control .hide {
	float: right;
	margin: 0 0 10px 20px;
	padding: 5px 10px;
}
#map .control .hide.on {
	margin-bottom: 0;
}
#map .control button {
	background: #ccc;
	color: #111;
	border: solid 1px #999;
	padding: 10px;
	font-size: 1em;
	cursor: pointer;
	outline: 0;
}
#map .control table td {
	border: none;
	padding: 5px;
}